/* the 'body' selector is required for the tests to pass */
/* You can change the style attributes if you want */
body {
  background-color: #222;
  color: #ddd;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 4em;
}

input[type=text], label {
  margin-bottom: 8px;
}

#tn{
  margin-top:30px;
}
h1 {
  margin-bottom: 40px;
}
#tn span{
  font-weight: bold;
}
.pane {
  border: solid 1px #999;
  border-radius: 10px;
  max-width: 650px;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
}
.specs {
  font-family: monospace;
  font-size: 1.1em;
  margin: 10px auto;
  text-align: left;
  padding-left: 10px;
  color: #555;
}